@import "../css/bootstrap.min.css";
@import "../css/fonts.css";
* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    list-style: none;
    outline: none;
}
body{
    min-height: 100vh;
    --bs-breadcrumb-divider: '>';
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
a{
    text-decoration: none;
}
img {
    object-fit: cover;
}
p{
    margin: 0;
}
button, input, optgroup, select, textarea {
    font-size: revert;
}
.btn{
    border-radius: 30px;
}
.breadcrumb{
    font-size: 14px;
}

.nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
}
.nav__content {
    border-bottom-left-radius: 42px;
    border-bottom-right-radius: 42px;
    padding: 10px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.6);
    box-shadow: 0px 0px 31.7181px rgba(0, 0, 0, 0.12);
}
.dropdown-menu{
    right: 0 !important;
    top: 10px !important;
    width: max-content;
}

.search__form {
    background-color: #f3f3f3;
    border-radius: 8px;
    display: flex;
}
.search__select,
.search__input {
    padding: 10px 12px;
    border: none;
    background-color: #f3f3f3;
}
.search__select {
    border-radius: 8px;
}
.search__select option {
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #2f294d;
}
.search__input {
    width: 500px;
}
.search__input::placeholder {
    font-size: 14px;
    line-height: 22px;
    color: #2f294d98;
}
.search__btn {
    width: 72px;
    background-color: #0064d2;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.search__btn img {
    width: 25px;
    height: 25px;
}

.user__cart,
.nav__tools,
.user__profile {
    display: flex;
    align-items: center;
}
.user__cart {
    margin-right: 100px;
}
.user__cart__icon {
    margin-right: 5px;
    position: relative;
}
.cart__text {
    font-weight: 500;
    font-size: 12.6872px;
    line-height: 19px;
    color: #2f294d;
    margin: 0;
}
.cart__funds {
    font-weight: 500;
    font-size: 12.6872px;
    line-height: 16px;
    color: #0064d2;
}
.user__cart__icon{
    position: relative;
}
.user__cart__indi{
    position: absolute;
    top: -5px;
    right: -5px;
    width: 18px;
    height: 18px;
    border: 2px solid #fff;
    background-color: #0064D2;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 500;
    font-size: 10px;
    line-height: 15px;
}

.user__profile__img {
    width: 43px;
    height: 43px;
}

.footer {
    background-color: #020203;
    color: #fff;
    padding: 50px 0 15px;
}
.footer__contact {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.footer__contact__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 132%;
    padding-bottom: 10px;
}
.footer__contact__text {
    font-weight: 300;
    font-size: 16px;
    line-height: 132.5%;
}
.footer__input {
    background-color: transparent;
    border: 2px solid #fff;
    margin-right: 20px;
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    width: 390px;
    height: 50px;
    border-radius: 4px;
    padding: 0 20px;
}
.footer__contact__btn {
    background: #0156ff;
    color: #fff;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border: none;
}
.footer__social img{
    opacity: 0.5;
    margin-right: 12px;
}

.footer__content {
    padding: 45px 0 55px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 78px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer__list{
    padding: 0;
}
.footer__li {
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}
.footer__link a {
    font-size: 14px;
    line-height: 18px;
    color: #fff;
}
.footer__list:last-child .footer__link {
    padding-bottom: 20px;
}
.footer__foot {
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.footer__copyrights {
    font-weight: 500;
    font-size: 12px;
    line-height: 132.5%;
    color: rgba(255, 255, 255, 0.5);
}

@media (max-height: 880px) {
    .hero{
        margin-top: 150px;
    }
}
@media (max-width: 1400px) {
    .service2__title, .service3__title, .service4__title, .service5__title{
        font-size: 44px !important;
    }
    .service2 .section__text, .service3 .section__text, .service4 .section__text, .service5 .section__text{
        font-size: 20px !important;
        width: 100%;
    }
    .service4 .section__title{
        width: 100%;
    }
    .slider label{
        width: 600px;
    }
}
@media (max-width: 1200px) {
    .service .section__title{
        margin: 0 auto;
    }
    .section__text{
        width: 100% !important;
    }
    .section__img{
        width: 50%;
        height: auto;
    }
    .search__input{
        width: 400px;
    }
    .user__cart{
        margin-right: 50px;
    }
}
@media (max-width: 1400px) {
    
}